<!DOCTYPE html>
<html>
  <head>
    <title>WeatherTek Forecast Assignment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='outer-div'>
      <h1>Forecast demo site</h1>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
